<mat-drawer-container class="dashboard-container">
    <mat-drawer mode="side" opened>
        <mat-list role="list">
            <mat-list-item role="listitem"><button mat-button routerLink="books">Books</button></mat-list-item>
            <mat-list-item role="listitem"><button mat-button routerLink="booksgest">Add/Delete</button></mat-list-item>
            <mat-list-item role="listitem"><button mat-button routerLink="profile">My Profile</button></mat-list-item>
            <mat-list-item role="listitem" class="logout-button">
                <a (click)="logout()"><span class="material-symbols-outlined">logout</span></a>
            </mat-list-item>
        </mat-list>  
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>