<h1>DASHBOARD</h1>
<button mat-button>Basic</button>
<mat-drawer-container class="dashboard-container">
    <mat-drawer mode="side" opened>
        <mat-list role="list">
            <mat-list-item role="listitem"><button mat-button>Books</button></mat-list-item>
            <mat-list-item role="listitem"><button mat-button>Add/Delete</button></mat-list-item>
            <mat-list-item role="listitem"><button mat-button>Log Out</button></mat-list-item>
        </mat-list>  
    </mat-drawer>
    <mat-drawer-content>

    </mat-drawer-content>
</mat-drawer-container>